<style>
  html {
    height: 100%;
  }
  body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(#141E98, #243b55);
  }

  .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }

  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }

  .login-box .user-box {
    position: relative;
  }

  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }

  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }

  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }

  .login-box a:hover {
    background: #eb6864;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #eb6864,
    0 0 25px #eb6864,
    0 0 50px #eb6864,
    0 0 100px #eb6864;
  }

  .login-box a span {
    position: absolute;
    display: block;
  }

  .login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
  }
  .signup_link{
    color: rgb(120, 88, 88);
    font-size: 1.2rem;
  }
  label{
    color: beige;
  }

  /* Logo location */
  .logo {
    position: fixed;
    top: 25px;
    left: 25px;
    display: block;
    z-index: 1000;
    transition: all 250ms linear;
  }
  .logo img {
    height: 70px;
    width: 100px;
    border-radius: 50px;
    display: block;
    transition: filter 250ms linear;
  }
  .dark-light:checked ~ .section-fluid-main .logo img {
    filter: brightness(10%);
    transition: filter 250ms 500ms linear;
  }
  #checkbox{
    width: 10%;
  }
  #bank_name{
    font-size: 1.1rem;
    width: 100%;
    color: #495057;
    padding: 1%;
    padding-left: 5%;
  }
  @media (max-width: 575px) {
    .logo img {
      height: 70px;
      width: 20%;
      border-radius: 50px;
      display: block;
      transition: filter 250ms linear;
    }
  }

</style>
<div class="login-box">
        <h2 class="text-center mb-3 text-success">
          <i class="fas fa-user-plus"></i> Add Bank Account
        </h2>
        <% include ./partials/messages %>
        <form action="/users/add_account" method="POST">
          <div class="form-group">
            <label for="bank_name">Bank Name:</label>
            <select id="bank_name" name="bank_name" value="<%= typeof bank_name != 'undefined' ? bank_name : '' %>" >
              <option value="Leumi">Leumi</option>
              <option value="Discount">Discount</option>
              <option value="Ha-Poalim">Ha-Poalim</option>
              <option value="Tfahot">Tfahot</option>
            </select>

          </div>
          <div class="form-group">
            <label for="account_number">Account Number:</label>
            <input type="text" id="account_number" name="account_number" class="form-control" placeholder="Enter Account Number"
              value="<%= typeof account_number != 'undefined' ? account_number : '' %>" />
          </div>
          <div class="form-group">
            <label for="another_account" class="another_account_label">Add Another Account?</label>
            <input type="checkbox" id="checkbox" name="another_account" class="form-control" />
          </div>
          <div >
            <input type="hidden" id="owner_email" name="owner_email" class="form-control"
                   value="<%= typeof email != 'undefined' ? email : '' %>" />
          </div>
          <button type="submit" class="btn btn-primary btn-block mt-5">
            Add Account
          </button>
       
       
        </form>
      </div>


<a class="logo">
  <img src="https://www.worldbank.org/content/dam/photos/780x439/2018/jan-1/WBG-logo-780x439.jpg">
</a>